nav {
	font-size: 1.5em;
	font-family: Dual, sans-serif;
	background: inherit;
}

nav > ul {
	background: inherit;
	padding: 0 2em;
}

/* Title bar {{{*/

nav > ul > li {
	display: inline-block;
	margin-right: 1em;
	text-align: center;
}

nav > ul > li:last-child {
	margin-right: 0;
}

nav > ul > li .submenu-title {
	display: inline-block;

	/* z-index works only withe relative absolute and fixed positionned elements
	position: relative;*/

	padding: 1em 2em;
	font-weight: bold;
	transition: background .3s, color .3s;
	-webkit-transition: background .3s, color .3s;
/*	z-index: 2;*/
}

nav > ul > li .submenu-title:hover,
nav > ul > li .submenu:hover ~ .submenu-title {
	background: white;
}

/*}}}*/
/* Submenu {{{*/

nav > ul > li .submenu {
	position: absolute;
	overflow: hidden;
	right: 0;
	width: 100%;
	padding: 2em;
	transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	transition: background .3s .1s, transform .3s .1s;
	-webkit-transition: background .3s .1s, -webkit-transform .3s .1s;
	z-index: -1;
}

nav > ul > li .submenu-title:hover ~ .submenu,
nav > ul > li .submenu:hover {
	background: white;
	transform: translateY(0%);
	-webkit-transform: translateY(0%);
}

/*}}}*/
/* Effects {{{*/

/*
 * Header can't be affected directly by the opacity
 * as he hide the submenu dropdown. Therefore the
 * children oh the header are affected.
 */

body > :not(nav):not(header),
body > header > * {
	transition: opacity .3s;
	-webkit-transition: opacity .3s;
}

body > :not(nav),
body > header > * {
	opacity: 1;
}

body > .faded:not(header),
body > header.faded > * {
	opacity: .2;
}

/*}}}*/
/* Submenu images {{{*/

nav .submenu-imgs li {
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 20%;
	margin: 1.25em;
	opacity: 1;
	transition: opacity .3s;
	-webkit-transition: opacity .3s;
}

nav .submenu-imgs li .caption,
nav .submenu-imgs li img {
	transition: transform .3s;
	-webkit-transition: -webkit-transform .3s;
}

nav .submenu-imgs li img {
	display: inline-block;
	width: 100%;
	margin: auto;
	transform: translateY(0%);
	-webkit-transform: translateY(0%);
}

nav .submenu-imgs li:hover img {
	transform: translateY(-7%);
	-webkit-transform: translateY(-7%);
}

nav .submenu-imgs li .caption {
	position: absolute;
	color: white;
	background: #444;
	bottom: 0;
	padding: 1em;
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
}

nav .submenu-imgs li .caption::before {
	top: 40%;
	left: 10px;
}

nav .submenu-imgs li:hover .caption {
	transform: translateY(0%);;
	-webkit-transform: translateY(0%);;
}

nav .submenu-imgs:hover li:hover {
	opacity: 1;
}

nav .submenu-imgs:hover li {
	opacity: .2;
}

/*}}}*/

/*
vim:fdm=marker
*/
