body {
	position: relative;
	width: 980px;
	margin: auto;
	background: #151515;
}

a {
	color: white;
	transition: color .2s;
	-webkit-transition: color .2s;
}

a:hover {
	color: #B59236;
}

/* Z-Indexes {{{*/

header {
	position: relative;
	z-index: 3;
}

nav {
	position: relative;
	z-index: 2;
}

/*}}}*/

/*
vim:fdm=marker
*/
