body {
	position: relative;
	background: #151515;
	font-size: 11px;
	color: white;
}

a {
	color: white;
	transition: color .2s;
	-webkit-transition: color .2s;
}

a:hover {
	color: #B59236;
}

input {
	color: black;
}

input[type=submit],
input[type=button],
button {
	padding: .5em;
	color: white;
	font-weight: bold;
	background: #B59236;
	box-shadow: 0 -10px 20px rgba(0,0,0,0.6) inset;
	border: none;
	position: relative;
	transition: box-shadow .3s;
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover {
	box-shadow: 0 -5px 10px rgba(0,0,0,0.6) inset;
}

input[type=submit]:active,
input[type=button]:active,
button:active {
	box-shadow: 0 1px 10px rgba(0,0,0,0.6) inset;
}

/* Z-Indexes {{{*/

header {
	position: relative;
	z-index: 3;
}

nav {
	position: relative;
	z-index: 2;
}

/*}}}*/
/* Find Banner {{{*/
.find-banner {
	width: 100%;
	height: 9em;
	margin: 3em 0;
	text-align: center;
	background: #232323;
	overflow: hidden;
}

/* Vertical centering */
.block::before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.find-banner > * {
	display: inline-block;
	vertical-align: middle;
}

.find-banner .logo {
	height: 100%;
	position: relative;
	margin-right: 10em;
	padding: 4em 0;
}

/* Arrow */
.find-banner .logo::after {
	content: "";
	position: absolute;
	top: 0;
	right: -50%;
	display: inline-block;
	height: 9em;
	width: 9em;
	vertical-align: middle;
	border-top: 1px solid white;
	border-right: 1px solid white;
	transform: rotate(45deg);
}

.find-banner .description {
	width: 40em;
	text-align: left;
}

.find-banner form input[type=search] {
	padding: .5em;
	border: 3px solid grey;
}
/*}}}*/
/* Voyages {{{*/
	/* Sections {{{*/
	section {
		margin: 10em 0;
		background: #232323;
		padding: 5em;
		box-shadow: 0 0 20px black;
	}

	section:nth-child(2n) {
		background: #333333;
	}

	section > * {
		max-width: 1000px;
		margin: auto;
	}

	section h1 {
		font-size: 3em;
		margin-bottom: 2em;
	}

	section p {
		font-size: 1.2em;
		margin-bottom: 1em;
	}
	/*}}}*/
	/* Price tables {{{*/
	section .price-tables {
		text-align: center;
	}

	section table.price-table {
		display: inline-block;
		margin: 0 2em;
		border: 2em solid white;
		background: white;
		color: black;
		text-align: center;
	}

	section table.price-table tr:first-child th {
		font-size: 2em;
		background: white;
	}

	section table.price-table tr:nth-child(2n) {
		background: rgb(234, 135, 63);
	}

	section table.price-table tr:nth-child(2n+1) {
		background: rgb(236, 205, 159);
	}

	section table.price-table tr th {
		font-size: 1.5em;
	}

	section table.price-table tr td,
	section table.price-table tr th {
		padding: .5em;
	}
	/*}}}*/
/*}}}*/
/*
vim:fdm=marker
*/
