
/* ====================== */
/* == Header positions == */
/* ====================== */

header {
	height: 8em;
	font-family: Dual, sans-serif;
	background: linear-gradient(to right, #151515, #333);
	background: -moz-linear-gradient(left, #151515, #333);
	background: -webkit-linear-gradient(left, #151515, #333);
	color: white;
	padding: 2em 1em;
	text-align: justify;
	letter-spacing: 1px;
}

/* Enable text-align: justify to spread the children */
header::after {
	content: '';
	display: inline-block;
	width: 100%;
}

/* Enable the title to be vertically centered */
header > div::before,
header .header-title h1::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

header > div,
header .header-links * {
	display: inline-block; /* Header on one line */
}

header > div,
header .header-title h1 {
	vertical-align: middle;
	height: 100%;
}

header h1 {
	font-size: 3em;
	display: inline-block;
}

/* ================== */
/* == Header Forms == */
/* ================== */

header .login-form {
	margin-right: 2em;
}

header input[type=text],
header input[type=password] {
	font-size: 1em;
	width: 10em;
	border: 1px solid grey;
	padding: .5em;
	border-radius: .3em;
	font-family: Dual;
	transition: box-shadow .3s;
}

header input[type=text]:focus,
header input[type=password]:focus {
	box-shadow: 0 0 1em rgb(150, 200, 255);
}

header .login-form a {
	border: none;
	margin: none;
	padding: 0 .5em 0 1.5em;
	background: transparent;
	font-family: Dual;
	font-size: 1em;
	position: relative;
	cursor: pointer;
	transition: color .2s;
}

header .login-form a:not(:last-child) {
	border-right: 1px dotted white;
}

header .login-form a:hover {
	color: #B59236;
}

header .login-form a::before,
nav .submenu-imgs li .caption::before {
	/* Arrow */
    content: "";
    display: block;
    position: absolute;
    top: .25em;
	left: .25em;
	border: solid;
    border-color: white transparent;
    border-width: 0 .4em .4em .4em;
	transform: rotate(90deg);
	transition: border .2s;
    z-index: 99;
}

header .login-form a:hover::before {
	border-color: #B59236 transparent;
}

/* ================== */
/* == Header Utils == */
/* ================== */

header .header-utils a {
	padding: 0 .5em;
}
